[
    {
        "playbookId": "",
        "entrypoint": "",
        "flowId": "",
        "localeId": ""
    },
    {
        "playbookId": "",
        "entrypoint": "",
        "flowId": "",
        "localeId": ""
    }
]